[Unit]
Description=Greenbone Security Assistant
After=network.target
After=gvmd.service
Wants=gvmd.service

[Service]
Type=forking
EnvironmentFile=-/etc/openvas/sysconfig/gsa-daemon.conf
ExecStart=/usr/sbin/gsad $GSA_OPTIONS $GSA_LISTEN_ADDRESS $GSA_LISTEN_PORT $GSA_MANAGER_LISTEN_ADDRESS $GSA_MANAGER_LISTEN_PORT $GSA_GNUTLS_PRIORITIES
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
User=root
Group=root
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
